@import "../common-template/common-template.wxss";

.no-data{
  padding-top: 300rpx;
}
.recruitment-wrap{
   width: 100%;
}
.integralNum{
    width: 100%;
    height: 94rpx;
    line-height: 94rpx;
    background-color: #fff;
    text-align: center;
    margin-bottom: 24rpx;
    position: relative;
}
.shopowner-wrap{
  width: 100%;
  padding: 12rpx 25rpx;
  background: #fff;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.shopowner-wrap image{
     float: left;
     display: block;
     min-width: 226rpx;
     width: 226rpx;
     height: 226rpx;
     margin-right: 24rpx;
}
.shopowner-wrap .info{
    font-size: 30rpx;
}
.vm{
  display: inline-block;
  vertical-align: middle;
}
.shopowner-wrap .mar{
   display: flex;
   margin-bottom: 8rpx;
}
.info .label{
    min-width:70rpx;
    margin-right:8rpx;
}
.shopowner-wrap .inline{
    display: block;
    color: #000;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.integral-wrap{
   width: 100%;
   overflow: hidden;
   border-top: 1px solid #e6e6e6;
   margin-bottom: 24rpx;
}
.integral-item{
    float: left;
    text-align: center;
    width: 33.333333%;
    background: #fff;
    box-sizing: border-box;
}
.integral-type , .integral-num{
   height: 70rpx;
   line-height: 70rpx;
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
.integral-item2 .integral-num,
.integral-item2 .integral-type{
     border-right: none
}
.integral-num{
   color: #D61B52
}