<form bindsubmit="formSubmit">
  <view class="container">
    <view class="pannel">
      <view class="pannel-title">请输入个人资料</view>
      <view class="pannel-content">
        <view class="item">
          <view class="label">真实姓名</view>
          <view class="label-right">
            <input  name="real_name" value='{{real_name}}' class="input" type="text" placeholder="请输入您的姓名" />
          </view>
        </view>
        <view class="item">
          <view class="label">手机号</view>
          <view class="label-right">
            <input maxlength='11' name="phone" value='{{phone}}' class="input" type="tel" placeholder="请输入您的手机号" />
          </view>
        </view>
        <view class="item">
          <view class="label">微信号</view>
          <view class="label-right">
            <input  name="wechat" value='{{wechat}}' class="input" type="text" placeholder="请输入您的微信号" />
          </view>
        </view>
        <view class="item">
          <view class="label">身份证号</view>
          <view class="label-right">
            <input name="idcard" value='{{idcard}}' class="input" type="text" placeholder="请输入您的身份证号码" />
          </view>
        </view>
        <view class="item">
          <view class="label">所在城市</view>
          <view class="label-right">
            <picker name="address" mode="region" bindchange="bindRegionChange" value="{{region}}" custom-item="{{customItem}}" placeholder="请输入您所在的城市">
              <view  class="picker">{{region[0]}} {{region[1]}} {{region[2]}}</view>
            </picker>
          </view>
        </view>
      </view>
    </view>
    <view class="pannel">
      <view class="pannel-title">银行帐号（选择）</view>
      <view class="pannel-content">
        <view class="item">
          <view class="label">收款银行</view>
          <view class="label-right">
            <picker name="bank_id" bindchange="bindBankChange" value="{{bankList[selectedBankIndex].bank_id}}" range="{{bankList}}" range-key="bank_name" placeholder="请选择您的收款银行">
              <view class="picker">{{ bankList[selectedBankIndex].bank_name }} </view>
            </picker>
          </view>
        </view>
        <view class="item">
          <view class="label">开户姓名</view>
          <view class="label-right">
            <input name="bank_person" value='{{bank_person}}' class="input" type="text" placeholder="请输入您的收款银行开户姓名" />
          </view>
        </view>
        <view class="item">
          <view class="label">银行帐号</view>
          <view class="label-right">
            <input name="bank_account" value='{{bank_account}}' class="input" type="number" placeholder="请输入您的收款银行帐号" />
          </view>
        </view>
        <view class="item">
          <view class="label">所属分行</view>
          <view class="label-right">
            <input name="bank_branch"  value='{{bank_branch}}' class="input" type="text" placeholder="请输入您的收款银行所属分行" />
          </view>
        </view>
      </view>
    </view>

    <button class="save-btn {{disabled?'disabled':''}}" formType="submit">保存资料</button>


  </view>


</form>