<view class="container">

	<view class="userinfo">
		<view class="userinfo-avatar" style="background-image:url('{{avatar}}')" ></view>
		<view class="userinfo-content">
		    <view class="userinfo-text">{{nickname}}<text wx:if="userId"> ({{account_id}})</text></view>
		    <view class="userinfo-text">推荐人：{{parent_name}}</view>
		    <view class="userinfo-text">等级：{{level_name}}</view>
		    <view class="userinfo-text icon-right" bindtap="pannelTap" data-url="/pages/address-list/index">我的收货地址</view>
		</view>
	</view>

    <view class="item status-box">
        <view bindtap="statusTap" class="status-label" wx:for-items="{{orderTypes}}" wx:key="{{index}}" data-type="{{item.type}}">
            <image class="icon-status" src="{{item.icon}}"></image>
            <view class="status-text">{{item.name}}</view>
            <view hidden='{{  ordernum[item.orderType]  == 0  ||   item.orderType =="all" }}'  class='num'>{{ ordernum[item.orderType] }}</view>
        </view>
    </view>

    <view class="pannel">
        <view class="pannel-title" data-url="/pages/points-recruitment/index" bindtap="pannelTap">招募积分</view>
        <view class="content">
            <view class="item" bindtap="zmjfTap">
                <view class="value">{{zmjf.jrzm}}</view>
                <view class="label">今日招募积分</view>
            </view>
            <view class="item" bindtap="zmjfTap">
                <view class="value">{{zmjf.byzm}}</view>
                <view class="label">本月招募积分</view>
            </view>
            <view class="item" bindtap="zmjfTap">
                <view class="value">{{zmjf.zzm}}</view> 
                <view class="label">总招募积分</view>
            </view>
        </view>
    </view>

    <view class="pannel">
        <view class="pannel-title" data-url="/pages/points-sales/index" bindtap="pannelTap">销售积分</view>
        <view class="content">
            <view class="item" bindtap="xsjfTap">
                <view class="value">{{sxjf.jrxs}}</view>
                <view class="label">今日销售积分</view>
            </view>
            <view class="item" bindtap="xsjfTap">
                <view class="value">{{sxjf.byxs}}</view>
                <view class="label">本月销售积分</view>
            </view>
            <view class="item" bindtap="xsjfTap">
                <view class="value">{{sxjf.zxs}}</view>
                <view class="label">总销售积分</view>
            </view>
        </view>
    </view>

    <view class="pannel">
        <view class="pannel-title" data-url="/pages/my-team/index" bindtap="pannelTap">我的团队</view>
        <view class="content">
            <view class="item" bindtap="myTeamTap">
                <view class="value">{{myteam.coachDz}}</view>
                <view class="label">辅导店长</view>
            </view>
            <view class="item" bindtap="myTeamTap">
                <view class="value">{{myteam.adminDz}}</view>
                <view class="label">管理店长</view>
            </view>
        </view>
    </view>

    <view class="pannel">
        <view class="pannel-title" data-url="/pages/my-sales/index" bindtap="pannelTap">我的销售</view>
        <view class="content">
            <view class="item" data-url="/pages/my-sales/index?type=0" bindtap="pannelTap">
                <view class="value">{{myxs.jrxse}}</view>
                <view class="label">今日销售额</view>
            </view>
            <view class="item" data-url="/pages/my-sales/index?currentType=1" bindtap="pannelTap">
                <view class="value">{{myxs.byxse}}</view>
                <view class="label">本月销售额</view>
            </view>
            <view class="item" data-url="/pages/my-sales/index?currentType=2" bindtap="pannelTap">
                <view class="value">{{myxs.zxse}}</view>
                <view class="label">总销售额</view>
            </view>
        </view>
    </view>

    <view class="pannel" wx:if="{{level >= 1}}">
        <view class="pannel-title" data-url="/pages/my-sales/index" bindtap="pannelTap">我的战绩</view>
        <view class="content">
            <view class="item" data-url="/pages/my-sales/index" bindtap="pannelTap">
                <view class="value">{{myzj.byxse}}</view>
                <view class="label text">差{{myzj.byxseCha}}元即完成本月销售</view>
                <view class="label change">本月比上月{{myzj.xseprveCha}}</view>
            </view>
            <view class="item" data-url="/pages/my-team/index" bindtap="pannelTap">
                <view class="value">{{myzj.num}}</view>
                <view class="label text" wx:if="{{myzj.next_level != ''}}">差{{myzj.numCha}}人即升级{{myzj.next_level}}</view>
                <view class="label text" wx:else></view>
                <view class="label change">本月比上月{{myzj.numprveCha}}</view>
            </view>
        </view>
    </view>

    <view class="pannel pannel-service">
        <view class="pannel-title no-bg">我的服务</view>
        <view class="content-service">
            <view class="item" bindtap="serviceTap" data-url="/pages/my-miniQrcode/index" wx:if="{{level >= 1}}">
                <image src="https://www.ishiyaji.com/static/images/my/icon-promotion.png"></image>
                <text>推广海报</text>
            </view>
            <view class="item" bindtap="serviceTap" data-url="/pages/redeem/index"> 
                <image src="https://www.ishiyaji.com/static/images/my/icon-score.png"></image>
                <text>积分兑换</text>
            </view>
            <view class="item" bindtap="serviceTap" data-url="/pages/my-coupons/index"> 
                <image src="https://www.ishiyaji.com/static/images/my/icon-coupon.png"></image>
                <text>优惠券</text>
            </view>
            <view class="item" bindtap="serviceTap" data-url="/pages/team-ranking/index"> 
                <image src="https://www.ishiyaji.com/static/images/my/icon-team.png"></image>
                <text>团队榜单</text>
            </view>
            <view class="item" bindtap="serviceTap" data-url="/pages/my-profile/index"> 
                <image src="https://www.ishiyaji.com/static/images/my/icon-profile.png"></image>
                <text>个人资料</text>
            </view>
            <view class="item" bindtap="serviceTap" data-url="/pages/my-favor/index"> 
                <image src="https://www.ishiyaji.com/static/images/my/icon-favor.png"></image>
                <text>我的收藏</text>
            </view>
            <view class="item">
                <button open-type="contact" class="btn-cs">
                    <view class="content-ctn">
                        <image src="https://www.ishiyaji.com/static/images/my/icon-cs.png"></image>
                        <text>平台服务</text>
                    </view>
                </button>
            </view>    
            <view class="item" bindtap="serviceTap" data-url="/pages/sales-rank/index"> 
                <image src="https://www.ishiyaji.com/static/images/my/icon-sales.png"></image>
                <text>销售榜单</text>
            </view>
        </view>
    </view>

    <wxc-dialog bindinit="initLogin" class="wxc-dialog" title="微信授权" content="获得您的公开信息(昵称、头像等)" logName="诗雅集"></wxc-dialog>

</view>