.container {
    background-color:#F2f2f2;
}
.address-list{
    width: 100%;
    margin-top: 20rpx;
    padding-bottom: 100rpx;
}
.address-list .a-address{
    width: 710rpx;
    margin: 0 auto;
    margin-bottom: 24rpx;
     background-color: #fff;
}
.a-address .left-text{
    box-sizing: border-box;
    padding: 32rpx 16rpx;
    border-bottom: 1px solid #eee;
}

.a-address .left-text .name-tel{
    font-size: 26rpx;
}
.a-address .left-text .address-box{
    font-size:24rpx;
    color:#666;
    line-height:36rpx;

}
.vm{
  display: inline-block;
  vertical-align: middle
}

.btm-wrap{
   overflow: hidden;
   height: 60rpx;
   line-height: 60rpx;
   color: #666;
   font-size: 26rpx;
   justify-content: space-between;

}

.set-def{
   margin-left: 28rpx;
   float: left;

}
.set-def .def{
  width: 28rpx;
  height: 28rpx;
  background: #F5F5F5;
  border: 1px solid #ccc;
  border-radius: 20rpx;
  margin-right: 20rpx
}
.set-def .active{
    background: url(https://www.ishiyaji.com/static/images/addr-active.png) no-repeat center center;
    background-size: 22rpx auto;
}

.delete{
   float: right;
   padding-left: 50rpx;
   margin-right: 70rpx;
}

.a-address .right-edit{
    float: right;
    width: 109rpx;
    height: 100%;
    box-sizing: border-box;
     padding-left: 50rpx;
     margin-right: 38rpx
}
.bottom-box{
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    font-size:28rpx;
    color:#fff;
    height:100rpx;
    line-height: 100rpx;
    text-align: center;

}
.get-wx-add ,  .add-btn{
   flex: 1
}
.get-wx-add{
  background: #000;
}

 .add-btn{
   background: #D61B52;
}
