@import "../common-template/common-template.wxss";

page{
  font-size: 24rpx;
}

.top-wrap{
   width: 704rpx;
   height: 176rpx;
   padding: 20rpx 0;
   display: flex;
   background: #fff;
   text-align: center;
   box-sizing: border-box;
   margin-top: 12rpx;
   border-radius: 20rpx;
   
}
.col-D61B52{
   color: #D61B52;
}
.mar25{
   margin-bottom: 25rpx;
   font-size: 28rpx;
}
.flex1{
   flex: 1
}

.l-wrap{
   flex: 1;
}
.m-wrap{
   flex: 1;
}
.m-wrap image{
    width: 94rpx;
    height: 94rpx;
    border-radius: 50rpx;

}

.r-wrap{
   flex: 1;
}

.ranking-wrap{
  width: 100%;
  text-align: center;
  font-size: 26rpx;
}

.ranking-header{
    display: flex;
    
}
.ranking-header .item{
  flex: 1;
  height: 94rpx;
  line-height: 94rpx;
}

.no-data{
   padding-top: 200rpx;
}

.ranking-list{
    display: flex;
    height: 70rpx;
    background: #fff;
    line-height: 70rpx;
    border-bottom: 1px solid #e6e6e6;
}
.last{
   border: none;
}
.ranking-list0 .rank{
   background: url(https://www.ishiyaji.com/static/images/team-rank/1.png)  no-repeat center;background-size: auto 50%;
   
}

.ranking-list1 .rank{
   background: url(https://www.ishiyaji.com/static/images/team-rank/2.png)  no-repeat center;background-size: auto 50%;
   
}
.ranking-list2 .rank{
   background: url(https://www.ishiyaji.com/static/images/team-rank/3.png)  no-repeat center;background-size: auto 50%;
   
}


.ranking-list image{
   width: 35rpx;
   height: 35rpx;
   border-radius: 20rpx;
}

.name{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}