<view class="container">
    <view class="address-list">
        <view data-id="{{item.address_id}}" catchtap='chooseAddress' class="a-address"  wx:for-items="{{addressList}}" wx:key="{{index}}">
             <view class="left-text" data-id="{{item.id}}">
                 <view class="name-tel">{{item.consignee}}  {{item.phone}}</view>
                 <view class="address-box">{{item.address}}</view>
             </view>
             <view class='btm-wrap'>
               <view data-id="{{item.address_id}}" data-is_default="{{item.is_default}}" catchtap="setDefaultAddress" class='set-def'>
                   <view class='def vm {{item.is_default == 2? "active":""}}'></view>
                   <view class='vm'>设为默认</view>
               </view>
               <view data-id="{{item.address_id}}" catchtap="deleteAddress"  style='background:url(https://www.ishiyaji.com/static/images/edit-address/delete.png) no-repeat left center;background-size:32%' class='delete'>删除</view>
               <view data-id="{{item.address_id}}" catchtap="editAddress" style='background:url(https://www.ishiyaji.com/static/images/edit-address/edit.png) no-repeat left center;background-size:28%' class="right-edit">编辑</view>
             </view>
        </view>
    </view>
    <view class="bottom-box">
        <view class="add-btn" bindtap="addAddress">添加收货地址</view>
    </view>
</view>